@use "../../styles/variables" as *;

.cover-hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

  &__inner {
    position: relative;
    // width: min(1200px, 92vw);
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // gap: 32px;
  }

  &__title {
    font-size: 42px;
    margin-bottom: 20px;
  }

  &__buttons {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;

    button {
      padding: 10px 14px;
      border-radius: $radius-md;
      border: 1px solid $border-light;
      background: $bg-card;
      color: $text-primary;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background: rgba(255, 255, 255, 0.12);
      }
    }
  }

  &__left {
    display: none;
  }

  &__canvas {
    // border-radius: $radius-lg;
    // border: 1px solid $border-light;
    overflow: hidden;
    position: fixed;
    inset: 0; // top:0 right:0 bottom:0 left:0

    canvas {
      display: block;
      // width: 100%;
      // height: 100%;
    }
  }
}
