$bg-dark: #070a14;
$bg-card: rgba(255, 255, 255, 0.06);

$text-primary: rgba(255, 255, 255, 0.92);
$text-secondary: rgba(255, 255, 255, 0.7);

$radius-lg: 18px;
$radius-md: 12px;

$border-light: rgba(255, 255, 255, 0.12);
